@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}

input:checked + #content #grid {
  display: grid;
}

#content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;

  #grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    display: none;

    p {
      border: solid 1px;
      background: #000;
      margin: 0;
      opacity: 0.2;
    }
  }

  > * {
    background: #3bbced;
    padding: 30px;
  }

  div {
    background: #3bbced;
    padding: 30px;
  }

  div:nth-child(even) {
    background: #777;
  }
}

header {
  grid-column: span 12;
}

main {
  grid-column: 4/13;
  grid-row: 2/4;
}

aside {
  grid-column: 1/4;
}

section {
  grid-column: span 12;
  grid-row: 4/6;
}

nav {
  grid-column: span 3;
}

footer {
  grid-column: span 12;
}
